# For local development (non-docker)
MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_TOPIC=wis2/notifications/#

KAFKA_BOOTSTRAP_SERVERS=localhost:19092
KAFKA_TOPIC=observations-raw

S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=observations

DB_URL=postgresql://observations_user:observations_password@localhost:5432/observations_db
